<header class="">
  <a id="logoTopo" href="/" title="Ir para homepage">
    <img src="/images/logo.png" alt="Jeff Co." width="136" height="36" />
  </a>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item desktop-only">
        <a class="nav__link" href="/" title="Acesse a página inicial">Início</a>
      </li>
      <li class="nav__item">
        <a
          class="nav__link"
          href="/produtos"
          title="Acesse a página de produtos"
          >Produtos</a
        >
      </li>
    </ul>
  </nav>
  <button
    class="close-menu btn btn--secondary"
    id="closeMenu"
    onclick="document.querySelector('header').classList.toggle('active')"
  >
    X
  </button>
</header>
<button
  class="open-menu btn btn--secondary"
  id="openMenu"
  onclick="document.querySelector('header').classList.toggle('active')"
>
  +
</button>
